# Standard Go ignores

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Project ignores
output
go/pkg
go/bin
.idea

# OSX files
.DS_Store

bin/
speakeasy-binaries/

# Encoded assets are generated at build time by build.sh
server/encoded_assets.go
.encoded_assets.sha1
encoded_assets.go
bindata.go
